Git-branchs.xcodeproj/project.xcworkspace/xcuserdata/brunovieirasouza.xcuserdatad/UserInterfaceState.xcuserstate
Git-branchs.xcodeproj/xcuserdata/brunovieirasouza.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
